body {
    color: white;
    background-color: rgb(11, 11, 11);
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* sacarle el estilo predeterminado a los links */
.nostyle {
    text-decoration: none;
    color: white;
}

/* propiedades flex generales */
.flex {
    display: flex;
}

/* -------- BARRA DE NAVEGACION -------- */
.header {
    height: 11vh;
    width: 100vw;
    justify-content: space-between;
}

/* items dentro de la barra de navegacion */
.logo {
    height: 8vh;
    margin: 0px 40px;
}

.nav-left {
    padding: 0px;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.nav-single {
    margin: 0px 20px;
    font-size: 15px;
}


.nav-right {
    flex-direction: row;
    align-items: center;
    margin-right: 45px;
}

.sbar {
    margin-right: 25px;
}

#buscar {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px rgb(193, 193, 193) solid;
}


.profile {
    border-radius: 50%;
    width: 3vw;
}


/* -------- MAIN -------- */
.main {
    flex-direction: column;
    max-width: 3155px;
}


.main-section {
    margin: 0px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.title-section {
    margin-left: 18px;
    margin-bottom: 18px;
    width: 100%;
}


.main-article {
    background-color: rgb(20, 20, 20);
    width: 15vw;
    min-height: 55vh;
    margin: 0px 10px 20px 10px;
    border-radius: 20px;
    padding: 13px;
}

.title-article {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 25px;
}


.poster-article {
    background-size: cover;
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    align-self: center;
}


/* Foto de cada pelicula */
#starwars {
    background-image: url(../img/starwars.jpeg);
}

#antman {
    background-image: url(../img/antman.jpeg);
}

#ironman {
    background-image: url(../img/ironman.jpeg);
}

#deadpool {
    background-image: url(../img/deadpool.jpeg);
}

#jurassic {
    background-image: url(../img/jurassic.jpeg);
}

#peakyb {
    background-image: url(../img/peakyblinders.jpg);
}

#gossip {
    background-image: url(../img/gossip.jpg);
}

#stranger {
    background-image: url(../img/stranger.jpg);
}

#breaking {
    background-image: url(../img/breakingbad.jpeg);
}

#friends {
    background-image: url(../img/friends.jpeg);
}

#pride {
    background-image: url(../img/orgullo.jpeg);
}

#pride-fsize {
    font-size: 24px;
}


#playlist {
    background-image: url(../img/playlist.jpeg);
}

#tihau {
    background-image: url(../img/tihau.jpeg);
}

#you {
    background-image: url(../img/you.jpeg);
}

#riverdale {
    background-image: url(../img/riverdale.jpeg);
}


.ul-article {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.detalles-ul {
    font-size: 15px;
    margin: 2px 0px;
}


/* -------- FOOTER -------- */
.footer {
    flex-direction: row;
    justify-content: space-between;
    color: rgb(82, 81, 81);
    margin: 0px 50px;
    padding-bottom: 20px;
}


/* lista ul */
.opciones {
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

/* li */
.footer-li {
    margin: 10px 0px;
}

.ft-margin {
    margin-top: 15px;
}

.footer-single {
    color: rgb(128, 128, 128);
}


/* -------- DETALLE -------- */
.pelicula,
.serie {
    padding: 15px;
    justify-content: center;
}

.section-pelicula,
.section-serie {
    width: 50vw;
    background-color: rgb(23, 23, 23);
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}

.imagen-pelicula,
.imagen-serie {
    width: 100%;
    border-radius: 15px;
}

.icons {
    list-style: none;
    flex-direction: row;
    color: white;
    margin: 5px;
    padding: 0%;
    justify-content: flex-start;
}

.awesome {
    padding-right: 20px;
}


.info {
    list-style: none;
    margin: 10px 0px;
}


/* -------- GENEROS -------- */
.padre {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
}


.section-gen {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 40px 40px 58px;
}


.article-gen {
    flex-direction: column;
    margin-right: 180px;
}


.genero {
    list-style: none;
    margin: 5px 0px;
}

.tips {
    padding-left: 0px;
}


.no-display {
    display: none;
}

/* ----- MEDIA QUERY ----- */
@media (max-width: 420px) {

    /* --- HEADER --- */
    .header {
        height: 50px;
        width: 100vw;
        margin: 10px 20px 0px 0px;
        justify-content: space-evenly;
    }

    .logo {
        display: none;
    }

    .section-gen {
        margin: 0px 30px 40px 30px;
        justify-content: space-between;
    }

    .nav-single {
        margin: 15px;
        margin-left: 20px;
        font-size: 10px;
    }

    .nav-right {
        margin-left: 0px;
        margin-right: 0px;
    }

    #buscar {
        width: 60px;
    }

    .profile {
        display: none;
    }

    .sbar {
        margin-right: 0px;
    }

    /* --- MAIN --- */
    .main-section {
        margin: 0px 0px 50px 25px;
        border: none;
        padding: 0px 5px 0px 5px;
        flex-wrap: wrap;
    }

    #main-sectionmq {
        min-height: 500px;
        align-content: flex-start;
    }

    .title-section {
        font-size: 15px;
        margin: 0px 0px 10px 0px;
        width: 100%;
        height: 15px;
    }

    .main-article {
        min-height: 160px;
        width: 100px;
        border-radius: 10px;
        margin: 2px 3px 5px 3px;
        padding: 0px;
    }

    .title-article {
        font-size: 10px;
        margin: 3px 0px 3px 5px;
    }

    .ul-article {
        display: none;
    }

    .poster-article {
        border-radius: 5px;
        height: 140px;
        width: 100%;
    }

    #pride-fsize {
        font-size: 10px;
    }

    /* --- FOOTER --- */

    .footer {
        font-size: 10px;
        flex-direction: column;
        margin: 0px 20px 0px 20px;
    }

    .name {
        margin-top: 0px;
    }

    /* --- DETALLE --- */
    .pelicula,
    .serie {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .section-pelicula,
    .section-serie {
        width: 90vw;
        justify-content: center;
        border-radius: 10px;
    }

    .imagen-pelicula,
    .imagen-serie {
        width: 100%;
        border-radius: 8px;
    }

    .text {
        font-size: 15px;
    }

    .header {
        height: 50px;
        margin-top: 10px;
    }

    /* --- GENEROS --- */
    .padre {
        margin-left: 30px;
    }

    .section-gen h3 {
        font-size: 15px;
        margin-left: 0px;
    }

    .article-gen {
        margin-right: 20px;

    }

    .listado-gen {
        padding: 0px 0px;
    }

    .fila {
        flex-direction: column;
    }
}